/* CSS for the body of the document, Sources: W3School */
body {
    font-family: sans-serif; 
    margin: 20px; /* Margins are used to create space around elements, outside of any defined borders */
    padding: 5px; /* Padding is used to create space around an element's content, inside of any defined borders */
    background-color: lightgrey;
}

/* CSS for the topnavigation bar ( Navigation bar option start here) , Source:W3Schools, how to (top navigation) */ 
.topnavbar {
    background-color: #ff9cff;
    overflow: auto; /* The overflow property controls what happens to content that is too big to fit into an area. */
}

.topnavbar a {
    float: left; /* float property specifies whether an element should float to the left, right, or not at all */
    display: block; /* The display property specifies the display behavior (the type of rendering box) of an element. */
    color:black;
    text-align: center;
    padding: 20px 25px;  
    text-decoration: underline;
}

.topnavbar a:hover {
    background-color:yellow;
    color: #ff0000;
}

/* CSS for the header Source:W3schools */
h1 {
    color: darkgreen;
    text-align: center;
    margin-bottom: 25px;
    display: block;
    font-size: xx-large;
}

h2 {
    color: maroon;
    text-align: center;
    margin-bottom: 25px;
    display: contents;
    font-size: medium;
    line-height: 2.5;
}
/* CSS for the paragraph  content Source:W3schools */
p {
    font-size: 20px;
    line-height: 2.5;
    color: darkcyan;
    margin: 10px 15px 20px;
    display: block;
    font-family: 'Franklin Gothic Medium';
}

/* CSS for the tables Source:W3schools, table option starts here */
table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 3px solid lightseagreen;
}

th {
    background-color: pink;
}

/* CSS for links Source:W3schools (external link starts here) */
a {
    color: blue;
    text-decoration: none;
    line-height: 1.5;
    font-family: 'Times New Roman';
}

/* CSS for hover state of links, Source:W3schools */
a:hover {
    text-decoration: underline;
}

/* CSS for font family of about, education, experience, source:w3schools */
.about {
    font-family: 'Cambria';
  }
#about {
    color: blueviolet;
}
.resume {
    font-family: 'Agency FB';
    color: darkblue ;
    line-height: 2;
  }
.Favourites {
    font-family: 'Times New Roman';
    font-style: italic;
    line-height: 2;
}
/* CSS for external links source:w3schools */
.
#Externallinks {
    font-family: 'Franklin Gothic Medium';
    color: red;
    line-height: 1;
}
